<!DOCTYPE html>
<html>
  <head>
    <title>Exam2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to 'All products', products_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Handsets', products_path(type: 'handsets'), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Prepaid Plans', products_path(type: 'prepaid'), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Subscription Plans', products_path(type: 'subscription'), class: 'nav-link' %>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Brands</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <% Product.all.pluck(:brand).uniq.each do |b| %>
                <li class="nav-item">
                  <%= link_to b, products_path(brand: p), class: 'nav-link' %>
                </li>
              <% end %>

            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </main>
      </div>
    </div>





  </body>
</html>
